.nav {
 position: relative;     
}

.nav__toggle {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 8px 8px;

    transition: ease .2s;
}

.nav__toggle:hover {
    border-radius: 50%;
    background-color: #ccc;
}


.nav__toggle--active {
    background-color: #ccc;
}

.nav__list {
    position: absolute;
    top: 50px;
    width: 200px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(71, 70, 70, 0.7);
    background-color: #fff;
    z-index: 2;
}

.nav__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    transition: ease .2s;
}

.nav__item:hover {
    background-color: #ccc;
    cursor: pointer;
}


.nav__item img {
    width: 24px;
    height: 24px;
    margin-right: 40px;
}